.Applications{
    background-color: rgb(22,63,181);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px


}

.oops{
	color: rgb(0,100,0);
	font-family: arial black;
	font-weight: 500;
    position: absolute;
	bottom: 40%;
	left: 50%;
	
}
.danger{
	top: 0;
	display: block;
}

.frame{
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    -webkit-transform:scale(1);-moz-transform-scale(1);

}

.repeater{
	margin-bottom: 12px;
	margin-left: 150px;
}

.repeater1{
	margin-bottom: 50px;
	margin-left: 50px;
	font-weight: 500;
	font-size: 15px;
}